:root {
  --card: #f9f9f9;
  --card-foreground: #333;
  --muted-foreground: #333;
}
.dark {
  --card: #1e1e1e;
  --card-foreground: #fff;
  --muted-foreground: #a0a0a0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.6;
  color: var(--muted-foreground);
  margin: 0;
  padding: 20px;
  background-color: var(--card);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative; /* For positioning language selector */
}

.language-selector-container {
  text-align: right;
  margin-bottom: 10px;
}

#language-selector {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

h1 {
  color: #2c3e50;
  font-size: 24px;
}

h2 {
  color: var(--card-foreground);
  font-size: 20px;
  margin-top: 30px;
  /* border-left: 4px solid #3498db; */
  /* padding-left: 10px; */
}

p,
ul {
  margin-bottom: 16px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
  word-wrap: break-word;
}

.last-updated {
  color: #7f8c8d;
  font-style: italic;
  font-size: 14px;
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  text-align: center;
  color: #95a5a6;
  font-size: 12px;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
}
